@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|PT+Mono');

/* config default header*/
*{
 margin: 0;
 padding: 0;
}
.main {
 height: auto;
 width: auto;
 background-color: rgba(10, 55, 51, 100%);
 background-image: linear-gradient(to top, transparent, rgba(0, 95, 95, 0.8));
}
.header {
 height: 170px;
 width: 100vw;
 background: rgba(0, 0, 0, .5);
 position: fixed;
 margin-top: 5px;
 padding: 30px;
 z-index: 2;	
}
.logo {
 height: 100%;
 left: 0;
 border-radius: 5px;
 background-size: 23%;
 background-image: url('../img/webBanc.PNG');
 background-repeat: no-repeat;
}
.header h1 {
 margin-left: 38%;
 margin-top: -10%;
 color: white;
}
.info-user{
 width:180px;
 padding:5px;
 margin-top: -100px;
 float:right;
 margin-right:70px;
 background: rgba(0, 0, 0, .5);
}
.info-user #get_user {
 margin-left: 15px;
 font-size: 20px;
 color: #818181;	
}
.info-user  #get_id  {
 font-size: 5px;
 color: rgba(10, 55, 51, 100%);
}
.sidenav {
 height: 18%;
 width: 200px;
 position: fixed;
 z-index: 1;
 top: 70px;
 right: 10px;
 overflow-x: hidden;
 padding-top: 20px;
 background-color: rgba(10, 55, 51, 100%);
 background-image: linear-gradient(to top, transparent, rgba(0, 95, 95, 0.8));
}
.dropdown-container {
 display: none;
 background-color: rgba(10, 55, 51, 100%);
 background-image: linear-gradient(to top, transparent, rgba(0, 95, 95, 0.8));
 padding-left: 8px;
}
.fa-caret-down {
 float: right;
 padding-right: 8px;
}
.active {
 background-image: linear-gradient(to top, transparent, rgba(10, 15, 51, 1.2));
 color: white;
}
.sidenav button {
 padding: 6px 8px 6px 16px;
 text-decoration: none;
 font-size: 20px;
 color: #818181;
 border: none;
 background: none;
 width: 100%;
 text-align: left;
 cursor: pointer;
 outline: none;
}
.sidenav button:hover {
 color: #f1f1f1;
}
.btn-movi-hidden {
 display: none;
}
.btn-movi-show {
 display: flex;
}
.containner-input-read{
 display: flex;
 justify-content:space-around;	
}
.containner-input-read input[readonly] {
 height:0px;
 border: none;
}
.btn-mov{ 
 height: 50px;		
 font-size: 16px;
 text-transform: capitalize;	
 cursor: pointer;
 background-color: rgba(27, 19, 98, 0.8);
 background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
 border: 1px solid mediumspringgreen;
 box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.3);
}
.space {
 width: auto;
 height: 250px;
}
.bi-file-pdf {
 color: orange;
}
.bi-file-pdf:hover {
 color: yellow;
 border-radius: 150px;
 cursor: pointer;
}
.fotter-contatos {
 width: auto;
 height: 120px;
 margin-top: 1px;
 padding: 20px;
 background-color: rgba(10, 55, 51, 100%);
 background-image: linear-gradient(to top, transparent, rgba(0, 95, 95, 0.8));
}
.fotter-contatos ul {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
}
.fotter-contatos li {
 list-style: none;
 text-decoration: none;
 background-color: #66bbff;
 padding: 5px 10px 5px 10px;
 color: black;
 font-size: 1.2rem;
 font-weight: 100;
 border-radius: 5px;
 border: 0;
 cursor: pointer;
}
.fotter-contatos li:hover {
 color: mediumspringgreen;
 background-color: black;
 text-decoration: none;
 border: 2px solid blue;
 box-shadow: 5px 5px 2px 5px rgba(0, 0, 0, 0.7);
}
.fotter-contatos  .bi-telephone:hover {
 color: yellow; 
 border-radius: 150px;
 cursor: pointer;
}
.fotter-contatos  .bi-envelope-open:hover {
 color: turquoise;
 cursor: pointer;
}
.fotter-contatos  .bi-chat:hover {
 color: lime;
 cursor: pointer;
}
.fotter-contatos  .bi-whatsapp:hover {
 color: white;
 cursor: pointer;
}
.ref-dev{
 margin-top:50px;
 margin-left:40%;
}
.ref-dev span{
  font-family: 'Open Sans', sans-serif;  
  font-weight: bold;
  font-size: 1.0em;
  line-height: 1.66667em;
  color:white;
}
.ref-dev a{
 text-decoration:none;
 color:white;
}
.ref-dev a:hover{
 color:yellow;
}
@media screen and (max-width: 759px) {
 .header h1 {
   margin-left:10%;
   margin-top: -10%;
 }
 .logo {
  padding: 15px;
 }
 .info-user{
  margin-top: -210px;	
  margin-right:50px;	
 }
 .sidenav{
  width:170px;
  height:60px;	
 }	
 #get_user {
  margin-left: 10%;
  }
 .sidenav button {
  margin-left: -6%	
 }
 .home-marc h1{
  margin-left:22%;
 }
 .fotter-home{
  height:100px;
 }
 .fotter-contatos li {
  margin-top:10px;
  height:30px;
 }
 .ref-dev{
 margin-left:15%;
 margin-top:15px;
 }
}

/* config home page*/
.home-marc {
 display: flex;
 justify-content: center;	
 background-color: rgba(10, 55, 51, 100%);
 background-image: linear-gradient(to top, transparent, rgba(0, 95, 95, 0.8));
}
.home-marc h1 {	
 font-family: "PT Mono", monospace;
 font-weight: bold;
 font-size: 2.125em;
 line-height: 1.66667em;
 text-transform: uppercase;
 color: yellow;
}
.container-home {
 display: flex;
 justify-content: space-between;
 background-color: rgba(10, 55, 51, 100%);
 background-image: linear-gradient(to top, transparent, rgba(0, 95, 95, 0.8));
 padding: 20px;
}
.home-left-side {
	border-radius: 5px;
	width: 45%;
	height: 280px;
	padding: 10px;
	margin-top: 20px;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	border: 1px solid mediumspringgreen;
	background-color: rgba(37, 59, 128, 0.7);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.8));
	margin-top: 100px;
}
.home-left-side:hover {
	border: 2px solid yellow;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	color: mediumspringgreen;
}
.gif {
	height: 100%;
	width: 98%;
	margin-left: 17px;
	border-radius: 5px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-size: 95%;
	background-image: url('../img/financial.gif');
	background-repeat: no-repeat;
}
.home-right-side {
	border-radius: 5px;
	width: 45%;
	height: 280px;
	padding: 10px;
	margin-top: 20px;
	background-color: rgba(25, 64, 48, 1);
	background-image: linear-gradient(to top, transparent, rgba(25, 64, 118, 0.8));
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	margin-top: 100px;
}
.home-right-side:hover {
	border: 2px solid yellow;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	color: mediumspringgreen;
}
.home-right-side:hover h3 {
	color: yellow;
}
.home-right-side:hover p {
	color: white;
}
.home-right-side h3 {
	font-size: 22px;
	font-weight: 300;
	line-height: 25px;
	color: gray;
}
.home-right-side p {
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
	color: tomato;
}
@media screen and (max-width: 759px) {
    .home-left-side{
		width: 40%; 
	 }
	 .gif {
		margin-left:2px;
		border-radius: 5px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background-size: 98% 273px;
	 }
	 .fotter-home .fotter-contatos{
         height:200px;
	 }	
     .fotter-home .ref-dev{
        margin-top:40px;
	 }  	
}


/*config config movimentacao page */
.container-main-movi {
	height: 680px;
	background-color: rgba(10, 55, 51, 100%);
	background-image: linear-gradient(to top, transparent, rgba(0, 95, 95, 0.8));
}
.movi-intru {
	width: 470px;
	height: 70px;
	margin-left: 28%;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.movi-intru-conta {
	display: flex;
	padding: 5px;
}
.movi-intru-conta h2 {
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
	color: yellow;
	margin: 0 10px;
}
.movi-intru-conta .btn-set-cont {
	width: 40px;
	height: 30px;
	margin: 5px 15px;
	color: yellow;
	padding: 10px;
	cursor: pointer;
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.movi-intru-conta h3 {
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
	color: orange;
	margin: 0px 3px 0px 15px;
}
.movi-modal-transacao {
	display: none;
	padding: 25px;
	width: 550px;
	height: 380px;
	top: 250px;
	left: 350px;
	z-index: 2000;
	position: fixed;
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.movi-modal-transacao-show {
	display: block;
}
.movi-modal-transacao-hidden {
	display: none;
}
.transacao-info {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}
.containner-input-read-tran{
	display: flex;
	justify-content:between;
	margin-top:-50px;
	margin-bottom:40px;
}
.containner-input-read-tran input[readonly] {
	background: rgba(0, 0, 0, .5);
	color:green;
	margin-right:8px;
	}
.input-read{
	width:60px;
	}
.input-read-u{
	width:170px;
	}
.input-read-s{
	width:130px;
	}
.transacao-type {
	background-color: rgba(10, 55, 51, 100%);
	background-image: linear-gradient(to top, transparent, rgba(0, 95, 95, 0.8));
	padding: 5px;
	width: 250px;
}
.transacao-type input[type=text] {
	font-size: 18px;
	line-height: 25px;
	color: green;
	font-weight: bold;
	text-transform: capitalize;
	padding: 5px;
	background-color: black;
}
.transacao-qr {
	padding: 5px;
	width: 100px;
	height: 50px;
}
.transacao-qr img {
	width: 50px;
	height: 50px;
}
.transacao-qr:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
.transacao-dados input[type=text] {
	border: 2px solid blue;
	background-color: white;
	height: 30px;
}
.transacao-dados input[type=text]:hover {
	border: 2px solid white;
	background-color: blue;
	color: yellow;
}
.transacao-dados::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgba(102, 144, 234, 8);
	opacity: 1; /* Firefox */
}
.transacao-dados:hover ::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}
.modal-tr-btn-nav{
	width: 500px;
	height: 100px;
	display:flex;
	margin-top:20px;
}
.transacao-dados input[type=button],input[type=submit]{
	width: 160px;
	height: 40px;
	margin: 5px 15px;
	color: yellow;
	padding: 10px;
	cursor: pointer;
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.transacao-dados input[type=button]:hover ,input[type=submit]:hover{
	background-color: #fff;
	border: 1px solid #58af9b;
	color: #0000CD;
}
.transacao-pro {
	margin-right: 20px;
}
.transacao-pro h4 {
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	color: yellow;
	margin-right: 5px;
}
.movi-service {
	width: 90%;
	height: 200px;
	margin-left: 3%;
	margin-top: 100px;
	background-color: rgba(10, 55, 51, 100%);
	background-image: linear-gradient(to top, transparent, rgba(0, 95, 95, 0.8));
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
.trans {
	width: 90px;
	height: 90px;
	display: block;
	cursor: pointer;
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.movi-service img {
	width: 93px;
	height: 90px;
}
.movi-service button {
	width: 95px;
	height: 40px;
	margin-top: 10px;
	color: yellow;
	padding: 3px;
	cursor: pointer;
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.movi-service button:hover {
	background-color: #fff;
	border: 1px solid #58af9b;
	color: #0000CD;
}
.movi-service a {
	width: 100px;
	height: 30px;
	color: yellow;
	padding: 10px;
	text-decoration: none;
	cursor: pointer;
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.movi-service a:hover {
	background-color: #fff;
	border: 1px solid #58af9b;
	color: #0000CD;
}
.containner-input-read-extr{
	display:flex;
	}
.containner-input-read-extr input[readonly] {
	height:0px;	
	border: none;		
}
.fotter-movi{
  margin-bottom:5px;
}

@media screen and (max-width: 759px) {
  .container-main-movi {
	width:auto;
	height: auto;
   }	
   .movi-intru {
	width: 88%;
	height: 100px;
	margin-top:50px;
	margin-left:2%;
}
  .transacao-type, .transacao-qr, .transacao-dados, .tarnsacao-pro{
	margin-left:20%;
}	
.movi-service{
	width: 80%;
	height:600px;
	margin-left:5%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;	
}	
.container-main-movi .movi-service .trans{
	margin-right:5%;
}
.movi-modal-transacao{
	width: 80%;
	height: 400px;
	top: 130px;	
	left: 2%;	
}
.containner-input-read-tran{
	width: 45%;
	height: 55px;
	margin-left:20%;
	padding:5px;
	display: block;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.input-read{
	width:38px;
}
.input-read-u{
	width:152px;
}
.input-read-s{
	width:120px;
}
.transacao-type, .transacao-qr, .transacao-dados, transacao-pro{
  margin-left: 20%;	
}
.transacao-dados input[type=text]{
	width: 130px;
}
.modal-tr-btn-nav{
	width: 80%;
}
.modal-tr-btn-nav input[type=button],input[type=submit]{
	width: 140px;
}
.fotter-movi .fotter-contatos{
   height:200px;
 }	
.fotter-movi .ref-dev{
   margin-top:40px;
 }	
}


/*config config comprovante page */
.main-comp {
	margin-top: 40px;
	margin-left: 24%;
	width: 50%;
	height: auto;
	background-color: white;
	padding: 20px;
}
.mov-intru-info{
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	width:600px;
	height:20px;
	margin-bottom:30px;	
	display:flex;
	justify-content:space-around;
	padding:8px;
}
.trans-return {
	width: 520px;
	height: 150px;
	padding: 20px;
	margin-left: 5%;
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	font-size: 15px;
	line-height: 20px;
	color: yellow;
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 30px;
}
.trans-return .return-pdf {
	float: right;
	margin-top: 30px;
	cursor: pointer;
}

@media screen and (max-width: 759px) {	
  .main-comp{
   width:80%;    
   margin-left:3%;	 
  }
  .mov-intru-info{
	width:90%;
	height:20px;
	padding:2px;
	margin-left:2%;
}
  .trans-return {
	width: 75%;
	padding: 20px;
	margin-left: 5%;
}
 .mov-intru-info .mii-id{
	width:12px;
 }	
.mov-intru-info .mii-user{
	width:120px;
	padding:0px 20px 0px 0px;
 }
.mov-intru-info .mii-cnt{
    width:14px;
	padding:0px 10px 0px 0px;
 }

}

/*config extrato page*/
.main-ext {
	height:100%;
	margin-left: 24%;
	width: 50%;
	padding: 20px;
	background-color:white;	
 }
.tbl-cad {
	margin-top: 30px;
	margin-left: 17%;
 }
.tbl-cad th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #66bbff;
	color: #fff;
 }
.tbl-cad td {
	border: 1px solid #ddd;
	padding: 10px;
 }
.extr-pdf {
	float: right;
	margin-top: 20px;
	background-color: white;
	padding: 10px;
	color: yellow;
	cursor: pointer;
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 759px) { 	
   .main-ext{
    width:95%;  
    height:100%; 
    padding:0;
    margin-left:2%;	
   }
  .tbl-cad {
   width:93%; 
   margin-left:2%;	
  }
  .tbl-cad th {
   padding: 1px;
  }
  .tbl-cad td {
   padding: 2px;
 }
  .extr-pdf {
  margin-top: 20px;
 }
}


/* config simulador page */
.container-main-simulador{
    display: flex;
	justify-content: space-between;
	background-color: rgba(10, 55, 51, 100%);
	background-image: linear-gradient(to top, transparent, rgba(0, 95, 95, 0.8));
	width: auto;
	height: 750px;
	padding: 20px;		
}
.space-simulador {
	width: auto;
	height: 230px;
}
.simula-left-side {
	width: 45%;
	height: 400px;
	padding: 20px;
	margin-top: 100px;
	background-color: rgba(37, 59, 128, 0.7);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.8));	
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	border: 1px solid mediumspringgreen;
}
.simula-left-side h3{
	margin-left: 28%;
	color: orange;
	font-size: 28px;
	font-weight: bold;
	text-transform: capitalize;
}
.simula-mercado {
	width: 90%;
	height: 80%;
	margin: 20px 10px;
	display: flex;
	justify-content: space-around;
	padding: 17px;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	border: 1px solid mediumspringgreen;
	background-color: rgba(17, 9, 28, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.simula-mercado:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.container-indices {
	width: 40%;
	height: 90%;
	background-color: rgba(17, 9, 28, 1);
	display: grid;
	padding: 17px;
}
.simula-mercado .container-indices h3 {
	margin-bottom: 10px;
	margin-left:5px;
	color: orange;	
	font-size:20px;
}
.container-indices p {
	color: red;
}
.container-indices input {
	margin-bottom: 10px;
	width: 70px;
	height: 20px;
	padding: 10px;
	margin-right: 500px;
	background-color: black;
	color: blue;
	font-weight: bold;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.container-indices a {
	color: green;
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
}

.container-irf {
	width: 40%;
	height: 90%;
	display: grid;
	padding: 15px;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	background-color: rgba(17, 9, 28, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
}
.simula-mercado .container-irf h3 {
	margin-bottom: 15px;	
	color: orange;	
	font-size:20px;
	margin-left:10px;
}
.simula-mercado .container-irf p {
	color: yellow;
}
.container-irf input {
	margin-bottom: 10px;
	width: 70px;
	height: 20px;
	padding: 10px;
	margin-right: 500px;
	background-color: black;
	color: blue;
	font-weight: bold;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}

.simula-right-side {
	width: 45%;
	height: 400px;
	padding: 20px;
	margin-top: 100px;	
	background-color: rgba(17, 9, 28, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));	
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.simula-right-side h3 {
	margin-left: 20%;
	color: orange;
	font-size: 28px;
	font-weight: bold;
	text-transform: capitalize;
}
.container-simula-invest {
	width: 90%;
	height: 77%;
	margin: 26px 10px 10px 10px;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.container-simula-invest figure {
	width: 250px;
	height: 220px;
	margin: 20px;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	border: 1px solid mediumspringgreen;
	background-color: rgba(17, 9, 28, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.container-simula-invest figure:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
.container-simula-invest img {
	width: 90px;
	height: 90px;
}
.container-simula-invest figcaption {
	margin: 0px 10px;
	color: red;
}
.container-simula-invest p {
	margin: 0px 10px;
	color: green;
}
.container-simula-invest button {
	margin: 5px 15px;
	color: yellow;
	padding: 5px;
	cursor: pointer;
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.modal-simula-invest {
	display: none;
	justify-content: center;
	align-items: center;
	padding: 15px;
	width: 550px;
	height: 300px;
	top: 300px;
	left: 350px;
	z-index: 2000;
	position: fixed;
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.invest-simula {
	width: 90%;
	height: 80%;
	display: grid;
	padding: 20px;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	border: 1px solid mediumspringgreen;
	background-color: rgba(17, 9, 28, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
}
.invest-simula h2 {
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
	margin-left: 30%;
}
.invest-simula input {
	width: 200px;
	background-color: black;
	color: green;
	font-size: 22px;
	padding: 20px;
	margin-bottom: 10px;
}
.invest-simula ::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgba(102, 144, 234, 8);
	opacity: 1; /* Firefox */
}
.invest-simula :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: rgba(102, 144, 234, 8);
}
.invest-simula ::-ms-input-placeholder { /* Microsoft Edge */
	color: rgba(102, 144, 234, 8);
}
.invest-simula label {
	color: orange;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
}
.invest-simula output {
	color: orange;
	font-size: 22px;
	font-weight: bold;
	text-transform: capitalize;
}
.invest-simula-footer {
	width: 500px;
	display: flex;
	justify-content: space-around;
}
.invest-simula a {
	width: 130px;
	height: 40px;
	padding-top: 10px;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 100;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	border: 1px solid mediumspringgreen;
	background-color: rgba(17, 9, 28, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
}
.invest-simula a:hover {
	background-color: black;
	color: yellow;
}
.invest-simula button {
	width: 100px;
	height: 50px;
	padding: 5px 10px;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 100;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	border: 1px solid mediumspringgreen;
	background-color: rgba(17, 9, 28, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
}
.invest-simula button:hover {
	background-color: black;
	color: yellow;
}
.modal-open-simula {
	display: flex;
}

@media screen and (max-width: 759px) { 	 
   .container-main-simulador{
     display: block;	
     width: auto;
     height: auto;
    }	 
   .space-simulador {
     height: 150px;
    }	
    .simula-left-side{
     width:100%;
     padding: 0px;
     margin-left:1%;
    height:470px;
    background-color:white;	  
   }
  .simula-left-side .simula-mercado{
    padding:0;
    height:88%;
    width:95%;
    margin-left:2%;
    display: flex;
   }
  .simula-mercado:hover {
    margin-top:40px; 
   -webkit-transform: scale(1.1);
    transform: scale(1.1);  
  }
  .simula-left-side h3{
    margin-left: 10%;
  }
  .container-indices{
   width:45%;	   
   display:block;	   
   background-color:black;  
  }
  .container-indices input{
    width:80px;
  }
  .container-indices input {
    margin-right: 10px;
  }
  .container-irf{
   width:45%;		
   display:block;
   margin-left:5px;
  }
  .simula-mercado .container-irf h3{
   margin-bottom:30px; 
  }
  .container-irf input{
   width:70px;
   margin-right: 50px;
  }
 .container-main-simulador .simula-right-side {
   height:500px;
   width:90%;		
   background-color:black;
  }
 .container-main-simulador .simula-right-side h3 {
  margin-left:17px;
 }	
 .simula-right-side .container-simula-invest{
	padding:0;
	height:80%;
	width:92%;
	display: flex;
    flex-wrap: wrap;
 }
 .simula-right-side .container-simula-invest figure{
	width:80px;
	height:160px;
 }
 .simula-right-side .container-simula-invest img{
	width:80px;
	height:40px;
 }
 .modal-simula-invest {
	width: 300px;
	left: 8px;
 }
 .main .modal-simula-invest .invest-simula h2 {
	margin-left:40px;
 }
 .main .modal-simula-invest .invest-simula-footer {
	margin-top:10px;
	width: 300px;
 }		
}

/* config sobre nós page */
.body-sbn {
	height: auto;
	background-color: rgba(10, 55, 51, 100%);
	background-image: linear-gradient(to top, transparent, rgba(0, 95, 95, 0.8));
}
.header-sbn{
	height:190px;
}
.header-sbn .info-user{
	width:250px;
	margin-right:-40px;
}
img {
	width: 98%;
	height: 100%;
}
.carousel-inner {
	background-color: yellow;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	min-height: 500px;
	display: flex;
}
.container-card {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 20px 0;
}
.container-card .card {
	position: relative;
	height: 350px;
	background-color: rgba(10, 55, 51, 100%);
	background-image: linear-gradient(to top, transparent, rgba(0, 95, 95, 0.8));
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
	display: flex;
	width: 45%;
	margin: 30px;
	padding: 20px;
}
.container-card .card .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}
.container-card .card:hover .imgBx {
	width: 150px;
	height: 150px;
	left: -55px;
	top: calc(50% -75px);
	transition: 0.5s ease-in-out;
	background-color: rgba(16, 123, 17, 0.9);
}
.container-card .card:hover .imgBx img {
	width: 250px;
	height: 250px;
	justify-content: center;
	align-items: center;
}
.container-card .card .imgBx:before {
	content: attr(data-text);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 6em;
	color: rgba(255, 255, 255, .20);
	font-weight: 700;
}
.container-card .card .content {
	position: absolute;
	right: 0;
	width: calc(100% - 85px);
	height: 100%;
	padding: 20px 20px 20px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-card .card .content h3 {
	margin-left: 10%;
	width:100%;
	margin-bottom: 5px;
	font-size: 24px;
	color: darkturquoise;	
	display: flex;
}
.container-card .card .content p {
	color: yellow;
	text-align: justify;
	font-size: 18px;
}
.open-count {
	width: 20%;
	height: 200px;
	padding: 5px;
	margin-left: 40%;
	margin-top: 20px;	
	background-color: rgba(17, 9, 28, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.select-tipo-cnt{
	display:flex;
	margin:10px;
}
.select-tipo-cnt p{
	font-size: 16px;
	color: darkturquoise;
	margin-right:15px;
}
.btn-open-count {
	height: 60%;
	width: 80%;
	margin: 55px 23px;
	color: yellow;
	padding: 15px;
	cursor: pointer;
	background-color: rgba(27, 19, 98, 0.8);
	background-image: linear-gradient(to bottom, transparent, rgba(37, 59, 128, 0.2));
	border: 1px solid mediumspringgreen;
	box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}
.btn-open-count:hover {
	transform: scale(1.5);
	transition: all .3s ease-in;
}
.footer-sbn .fotter-contatos{
  height:200px;	
  margin-bottom:5px;
}

@media screen and (max-width: 759px) {
   .body-sbn {
     height: auto;
     width:auto;
  }		
  .header-sbn{
    height:300px;	
  }	
   .header-sbn h1{
    margin-top:-100px;
    font-size:1.8rem;   
  }
 .header-sbn .sidenav{
	height:100px;	
 }
 .header-sbn .info-user{
	margin-top:-200px;   
 }   
 .container-card {
	width: 100%;
	flex-direction: column;
	align-items: center;
 }
 .container-card .card {
 	width: 350px;
	margin-left:5px;
 }
 .container-card .card:hover .imgBx {
	left: -25px;
 }
 .container-card .card .content {
	width: calc(100% - 55px);
 }
 .container-card .card .content h3 {
	margin-left: 20%;	
 }
 .container-card .card .content p {
	margin-left:23%;
	flex-wrap:wrap;
	font-size: 0.8rem;
 }
 .open-count{
	width:80%;
	height:200px;
    margin-left:10%;
	margin-top:100px;
 } 
 .btn-open-count {	
	margin: 30px 0px 0px 40px  ;		
 }
}










